<!DOCTYPE html>
<html>
<head>
    <style>
    </style>
</head>

<body>
    <img src"/public/not_found.jpg">
    Hmmmm...<br>
    Seems like we did not found any offers for what you requested<br/>
    <a href="/">Lets try again</a><br/>
</body>
</html>
